C:/Program[[:space:]]Files/Git/ZeroLoadState_InverseFEA/FeBio/Y329_stress_out.txt filter=lfs diff=lfs merge=lfs -text
ZeroLoadState_InverseFEA/FeBio/Y329_stress_out.txt filter=lfs diff=lfs merge=lfs -text
